* {
    margin: 0;  
    padding: 0; 
    border: 0; 
    background: transparent; 
    outline: none; 
    text-decoration: none; 
    font-family: sans-serif; 
    box-sizing: border-box;
}

ol, 
ul, 
li {
    list-style:none; 
    display:block;
}

table {
    border-collapse: collapse;
    border-spacing:0;
}

a img {border: none;}


button, 
a{
    cursor: pointer; 
    color: inherit;
}

textarea{resize: none;}
button,
input,
textarea,
select{
    appearance: none !important; 
    border-radius: 0;
}

/* RESET END */

body {
    width: 100%;
    height: 100vh;
    background-image: url("./bg/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
}

#root {
	min-width: 60%;
	min-height: 85vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.493);
	padding-bottom: 50px;
	header {
		margin: 50px 0;
	}

	#searchDIV {
		width: 420px;
		position: relative;
		font-size: 1.2em;
		// margin-top: 10px;
		padding: 10px;
		background-color: #006d77;
		box-shadow: 0px 5px 5px #888888;

		display: flex;
		justify-content: center;
		align-items: center;

		label, #searchBar {
			color: #ffddd2;
			text-indent: 5px;
		}

		#searchBar {
			border-bottom: 3px solid #ffddd2;
			font-size: 1em;
			margin-left: 5px;
			// padding-bottom: 20px;
			&::placeholder {
				color: #ffddd2;
				opacity: 0.5;
			}
		}
		 
		#searchResult {
			width: 100%;
			position: absolute;
			left: 0;
			font-size: 0.8em;
			background-color: rgba(255, 255, 255, 0.705);
			margin-top: 10px;

			li {
				padding: 10px;
			}

			li:hover {
				text-decoration: 3px underline #006d77;
				text-underline-offset: 5px;
				cursor: pointer;
			}
		}
	}
	
	#weatherContainer {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 420px;
		height: 300px;
		margin-top: 50px;
		padding: 30px;
		background-color: #83c5c0d8;
		border-radius: 20px;
		line-height: 30px;
		box-shadow: 0px 5px 5px #888888;
		opacity: 0;
		transition: 1s;

		&.active {
			opacity: 1;
		}

		div:first-child {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			margin-bottom: 20px;

			#icon {
				margin: auto;
			}

			#text {
				text-align: center;
			}
		}
	}
}

span {
    display: block;
}
